<!DOCTYPE html>
	<html lang="en">
		<head>
  			<title>Pritish Sai - Product Designer</title>
  			<meta charset="utf-8">
  			<meta name="viewport" content="width=device-width, initial-scale=1">
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
		<body>

			<div class="container-fluid"> 
				<div class="master-container">	
					<nav class="navbar">
	  					<div class="navbar-header">
	      					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        				<span class="icon-bar"></span>
		        				<span class="icon-bar"></span>
		        				<span class="icon-bar"></span>                        
	      					</button>
	      				</div>
	    				<div class="collapse navbar-collapse" id="myNavbar">
	      					<ul class="nav navbar-nav navbar-right">
					        	<li class="header-1 post1" style="margin-right: -100px"><%= link_to  image_tag('landing/post1.png'), "#about", class: "navbar-brand" %></li>
					        	<li class="header-1 post2" style="margin-right: -100px"><%= link_to  image_tag('landing/post2.png'), '#portfolio', class: "navbar-brand" %></li>
					        	<li class="header-1 post3" style="margin-right: -100px"><%= link_to  image_tag('landing/post3.png'), 'https://drive.google.com/file/d/18117QUar6pJx--TmJcKGs-PZN8kfjA0k/view?usp=sharing', class: "navbar-brand", target: '_blank' %></li>
					        	<li class="header-1 post4"><%= link_to  image_tag('landing/post4.png'), '#contact', class: "navbar-brand" %></li>
	      					</ul>
	    		   		</div>
					</nav>
			<br><br>
			<div class="opening-text">
				<div class="pritish-sai">PRITISH SAI</div>
				<div class="designation">
					PRODUCT DESIGNER / ENTREPRENEUR
				</div><br>
				<p class="about-me">
					“I’m a product designer currently pursuing my degree in Human-Computer Interaction. I have over 3 years of experience in product-related work including development,
					design, and marketing”
				</p>
			</div>
		</div>
		</divs><br><br>
			<h2 id="about" class="landing-sub-header" style="text-align:center; font-family: 'Raleway-Medium', sans-serif">SKILLS + TOOLS</h2><br><br>
    			<div class="container">
        			<div class="row">
        				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 skills">
        					<%= image_tag('landing/skills.png') %>
        				</div>
        			</div>

        	</div><br><br>
        	<h2  id="portfolio" style="text-align:center; font-family: 'Raleway-Medium', sans-serif">PORTFOLIO</h2><br><br>
        	<div class= "container">
        		<div class="row">
        			<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        				<%= link_to image_tag('landing/project1.png'), 'http://www.pritishsai.com/projects/wheresmytee', target: "_blank" %>
        				<h4 class="project-title">Where's My Tee?</h4>
        				<p class="project-details">An online T-Shirt aggregation platform that combines eCommerce, Product Discovery, and Social Networking</p>
        				<p class="project-tools">PRODUCT IDEATION / FULL STACK DESIGN AND DEVELOPMENT / SOCIAL MEDIA MARKETING / DATA ANALYSIS</p>
        			</div>
       				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        				<%= link_to image_tag('landing/project2.png'),'http://www.pritishsai.com/projects/coastercrunch', target: "_blank" %>
        				<h4 class="project-title">CoasterCrunch</h4>
        				<p class="project-details">A mobile app that makes theme park planning and visits less stressful by combining elements of eCommerce, AR, Location Based Networking, and Information Design.</p>
        				<p class="project-tools">PROTOTYPING / USER RESEARCH / INFORMATION AND INTERACTION DESIGN</p>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        				<%= link_to image_tag('landing/project3.png'), 'https://www.pritishsai.com/projects/inteum', target: "_blank"  %>
        				<h4 class="project-title">Inteum's Inventor Portal</h4>
        				<p class="project-details">An online service that makes the process of Tech Transfer much easier for new inventors.</p>
        				<p class="project-tools">USABILITY EVALUATION / TEST PLANNING</p>
        			</div>
       				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        				<%= link_to image_tag('landing/project4.png'), 'http://www.pritishsai.com/projects/felixcalis', target: "_blank" %>
        				<h4 class="project-title">Felix Calis</h4>
        				<p class="project-details">A portfolio website designed for a professional photographer to showcase body of work.</p>
        				<p class="project-tools">FULL STACK DESIGN AND DEVELOPMENT</p>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        				<%= link_to image_tag('landing/project5.png'), 'http://www.pritishsai.com/projects/vaibhavgupta', target: "_blank" %>
        				<h4 class="project-title">Vaibhav Gupta</h4>
        				<p class="project-details">A portfolio website designed for a professional video game designer to showcase body of work.</p>
        				<p class="project-tools">FULL STACK DESIGN AND DEVELOPMENT</p>
        			</div>
       				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        				<%= link_to image_tag('landing/project6.png'), 'http://www.pritishsai.com/projects/crkannan', target: "_blank" %>
        				<h4 class="project-title">C.R. Kannan</h4>
        				<p class="project-details">A portfolio website designed for a professional marketing consultant to showcase body of work.</p>
        				<p class="project-tools">FULL STACK DESIGN AND DEVELOPMENT</p>
        			</div>
        		</div>
			</div><br><br>
	<h2 id="contact" class="landing-sub-header" style="text-align:center; font-family: 'Raleway-Medium', sans-serif; margin-top: 50px; margin-bottom: -15px">LET'S GET IN TOUCH</h2>
		<div class="container-fluid">
			<div class="jumbotron" style="background-color: #fff">
				<div class="social" style="text-align: center">
					<%= link_to image_tag('landing/facebook.png'), 'https://www.facebook.com/pritish.sai', target: "_blank" %>
					<%= link_to image_tag('landing/instagram.png'), 'https://www.instagram.com/pritishsai6/', target: "_blank" %>
					<%= link_to image_tag('landing/twitter.png'), 'https://twitter.com/pritishsai6', target: "_blank" %>
					<%= link_to image_tag('landing/linkedin.png'), 'https://www.linkedin.com/in/pritishsai/', target: "_blank" %>
				</div>
		   	</div>
		   	<p class="process-description" style="text-align:center">
		   		© Designed and Created by Pritish Sai Kannan 2018
		   	</p>
		</div>
</body>
	</html>