<!DOCTYPE html>
	<html lang="en">
		<head>
  			<title>Pritish Sai - UX Designer</title>
  			<meta charset="utf-8">
  			<meta name="viewport" content="width=device-width, initial-scale=1">
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>
		<body>
			<nav class="navbar navbar-inverse">
	  			<div class="container-fluid">
	    			<div class="navbar-header">
	      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        				<span class="icon-bar"></span>
	        				<span class="icon-bar"></span>
	        				<span class="icon-bar"></span>                        
	      				</button>
	      				<div class="skychaser-logo" id="skychaser-logo"><%= link_to 'Pritish Sai', root_path %></div>
	    			</div>
	    			<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav navbar-right">
					        <li class="header-1"><%= link_to 'About Me', "#", class: "navbar-brand" %></li>
					        <li class="header-1"><%= link_to 'Portfolio', '#', class: "navbar-brand" %></li>
					        <li class="header-1"><%= link_to 'Resume', '#', class: "navbar-brand" %></li>
					        <li class="header-1"><%= link_to 'Contact', '#', target: '_blank', class: "navbar-brand" %></li>
	      				</ul>
	    		   </div>
	  			</div>
			</nav>
			<div class="banner">
        		<div>
            		<div class="banner-b1"></div>
            		<h1 class="banner-text">"Good Artists Copy. Great Artists Revolutionize"</h1>
        		</div>
			</div>
		</body>
	</html>