<div class="container" style="margin-top: 25px">
	<h3 class="project-name-label">Project Name : </h3>
	<h3 class="project-name">C.R. Kannan Portoflio Site</h3>
	<br><br>
	<h3 class="project-site-label">Site : </h3>
	<h3 class="project-site"><%= link_to 'www.crkannan.com', 'http://crkannan.com/', target: '_blank' %></h3>
	<h3 class="project-description-label">Client Requirements : </h3>
		<p class="project-description">
			The Client wanted a website that reflected his years of experience working as a brand consultant. The site is essentially a tool to get more clients for his consultancy.
		</p>
	<h3 class="project-role-label">Site Features : </h3>
		<p class="project-feature">A simple and responsive design</p>
		<p class="project-feature">A resume page that details the client's experience </p>
		<p class="project-feature">A milestones page that showcases the progression of the client's experience</p>
		<p class="project-feature">A gallery page with the client's work over the years</p>
		<p class="project-feature">A contact page with the client's information</p><br>
	<h3 class="project-role-label"> Toolbox for the site : </h3><br>
	 	<div class="row">
			<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/html5.png') %>
			</div>
			<div class="col-md-2 cols-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/css3.png') %>
			</div>
			<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/js.png') %>
			</div>
			<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/rails.jpg') %>
			</div>
				<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/ps.png') %>
			</div>
		</div>
	<h3 class="project-role-label"> Final Product : </h3><br>
		<div class="flexslider">
    		<ul class="slides">
    		  <li class="project-image1"><%= image_tag('crk/layout-1.png') %></li>
    		  <li class="project-image2"><%= image_tag('crk/layout-2.png') %></li>
		      <li class="project-image3"><%= image_tag('crk/layout-3.png') %></li>
		      <li class="project-image3"><%= image_tag('crk/layout-4.png') %></li>
		      <li class="project-image3"><%= image_tag('crk/layout-5.png') %></li>
    		</ul>
  		</div>