<div class="container" style="margin-top: 25px">
	<div class="p-name" style="text-align:center">
		<h3 class="project-name-label">PROJECT: </h3>
		<h3 class="project-name">FELIX CALIS</h3><br><br>
	</div>
	<hr/>
	<div class="links">
		<div class="link-image link-image-2">
			<%= link_to image_tag('misc/website.png'), 'http://felixcalisbrand.herokuapp.com/', target: '_blank' %>
		</div> 
	</div><br />
	<p class="highlights">"A Portfolio Website for a Professional Photographer"</p>
		<h3 class="project-deliverables" style="text-align: center; font-size: 30px; font-family: 'Raleway-Light', sans-serif">
			DELIVERABLES
		</h3><br />
		<div class="dev-project-roles">
			<div class="dev-role">PROTOTYPES</div>
			<div class="dev-role">RESPONSIVE WEBSITE</div>
			<div class="dev-role">ANALYTICS INTEGRATION</div>
		</div><br>
		<div class="jumbotron">
			<h3 class="dev-project-description-label">THE CLIENT'S REQUIREMENTS</h3>
				<p class="dev-project-description" style="margin-top: 10px">
					The client required a website to display his work. He wanted to use the website to get new contracts and clients for future projects. The main objective of the site is to allow industry professionals to study the portfolio.
				</p>
				<p class="dev-project-description" style="margin-top: 10px">
					I built the website with Ruby as the primary backend language and Rails as the framework. In addition to using HTML5 and CSS3 elements, I also used several jQuery plugins to make the site more dynamic and interactive.
				</p>
		</div>
		<div class="jumbotron" style="background-color: #fff">
			<h3 class="dev-project-description-label">A PICTUREBOOK OF PORTFOLIO IMAGES</h3>
			<div class="cem-listng-row">
				<div class="cem-listing">
					<%= image_tag('felixcalis/layout-2.png') %>
				</div>
				<div class="cem-listing">
					<%= image_tag('felixcalis/layout-1.png') %>
				</div>
			</div><br><br>
			<p class="dev-project-description" style="margin-top: 10px">
				The landing page of the website needed to have all the photographer's images in full display. Keeping in accordance with this requirement, I decided to use a plugin to design a dynamic menu. When the user clicks on 'FELIX CALIS', the menu shifts in and out of the landing page to display all the menu headers including the social icons. 
			</p>
			<p class="dev-project-description" style="margin-top: 10px">
				I used the masonry plugin to arrange all the images in a grid. I also designed an authentication system which allowed the photographer to upload new images from an admin account. Every new image gets added to the top of the grid.
			</p><br>
			<div class="cem-web-image" >
				<%= image_tag('felixcalis/layout-3.png') %><br>
			</div>
			<p class="dev-project-description" style="margin-top: 10px">
				Using the fancybox plugin, each image will show a zoomed in version when clicked on. The navigation is extremely simple. The target users for the site are industry professionals who review portfolio websites so I wanted to give them the option to see each image in detail.
			</p>
		</div>
	<h3 class="dev-project-description-label">BUILT WITH</h3>
	 	<div class="row">
			<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/html5.png') %>
			</div>
			<div class="col-md-2 cols-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/css3.png') %>
			</div>
			<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/js.png') %>
			</div>
			<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/rails.jpg') %>
			</div>
				<div class="col-md-2 col-sm-12 col-lg-3 toolbox">
				<%= image_tag('felixcalis/ps.png') %>
			</div>
		</div>
	</div>
