<div class="container" style="margin-top: 25px">
	<h2 class="sketch-name" style="text-align:center">SKETCHES</h2><br><br>
	<h1 class="project-name-label" style="text-align:center!important">Project 1: </h1><br>
	<h3>CORPORATE DIRECTORY NAVIGATOR</h3>
	<h3 class="project-description-label">Requirements : </h3>
		<p style="font-family: 'Raleway-Light', sans-serif; font-size: 20px">
			Design a corporate directory navigator for a QVGA (320 x 240) phone. There may be a numeric keypad or five way rocker button, but not much else. The company has 40,000 employees and there are 7 main hierarchies of unequal depth. Traversing the hierarchies from the CEO to the lowest level employee should be easy.
		</p>
		<h2 class="analytics"style="text-align:center">SKETCHES</h2>
			<div class="flexslider">
    			<ul class="slides">
    		  		<li class="project-image1"><%= image_tag('/images/cp1.jpg') %></li>
    		  		<li class="project-image2"><%= image_tag('/images/cp4.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('/images/cp5.jpg') %></li>
		      		<li class="project-image2"><%= image_tag('/images/cp2.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('/images/cp6.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('/images/cp3.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('/images/cp7.jpg') %></li>
    			</ul>
  			</div><br><br>
  	<h1 class="project-name-label" style="text-align:center">Project 2: </h1><br>		
  	<h3>THOUSAND FLOOR ELEVATOR</h3>
	<h3 class="project-description-label">Requirements : </h3>
		<p style="font-family: 'Raleway-Light', sans-serif; font-size: 20px">
			Design an elevator for a buildingwith 1,000 floors. This is a single elevator compartment that cantravel to any floor from ground to the top. You must design a sys-tem for selecting floors and for displaying selected floors, as well asfor displaying the current location of the elevator. 
		</P>
		<h2 class="analytics"style="text-align:center">SKETCHES</h2>
			<div class="flexslider">
    			<ul class="slides">
    		  		<li class="project-image1"><%= image_tag('sketches/tf01.jpg') %></li>
    		  		<li class="project-image2"><%= image_tag('sketches/tf02.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/tf03.jpg') %></li>
		      		<li class="project-image2"><%= image_tag('sketches/tf04.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/tf05.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/tf06.jpg') %></li>
    			</ul>
  			</div><br><br>
  	  	<h1 class="project-name-label" style="text-align:center">Project 3: </h1><br>		
  	<h3>AMBIENT NOTIFICATION</h3>
	<h3 class="project-description-label">Requirements : </h3>
		<p style="font-family: 'Raleway-Light', sans-serif; font-size: 20px">
			Develop an ambient notificationde-viceto improve email. Notification can be of anything related toemail. Device means a physical device. This device is not a PC orphone or smartwatch. It is a device that blends into the environ-ment and provides some kind of notification of something relatedto email. 
		</P>
		<h2 class="analytics"style="text-align:center">SKETCHES</h2>
			<div class="flexslider">
    			<ul class="slides">
    		  		<li class="project-image1"><%= image_tag('sketches/an01.jpg') %></li>
    		  		<li class="project-image2"><%= image_tag('sketches/an02.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/an03.jpg') %></li>
		      		<li class="project-image2"><%= image_tag('sketches/an04.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/an05.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/an06.jpg') %></li>
    			</ul>
  			</div><br><br>
  		  	<h1 class="project-name-label" style="text-align:center">Project 4: </h1><br>		
  	<h3>RECORD INTERACTION</h3>
	<h3 class="project-description-label">Requirements : </h3>
		<p style="font-family: 'Raleway-Light', sans-serif; font-size: 20px">
			Spend a total of 25 minutes interactingwith an app and documenting your experience, using mainly a se-ries of about three dozen to four dozen pictures, each about 2 cmto 3 cm square. The interaction itself may last only a minute ofthe 25 minutes or perhaps it is used intermittently during the 25minutes. Employ very few words. Pictures should tell the story.Make it clear how the app display changes and what your interac-tions with the app are.
		</P>
		<h2 class="analytics"style="text-align:center">SKETCHES</h2>
			<div class="flexslider">
    			<ul class="slides">
    		  		<li class="project-image1"><%= image_tag('sketches/ri01.jpg') %></li>
    		  		<li class="project-image2"><%= image_tag('sketches/ri02.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/ri03.jpg') %></li>
		      		<li class="project-image2"><%= image_tag('sketches/ri04.jpg') %></li>
    			</ul>
  			</div><br><br>
  		  		  	<h1 class="project-name-label" style="text-align:center">Project 5: </h1><br>		
  	<h3>WIDGET REDIGN</h3>
	<h3 class="project-description-label">Requirements : </h3>
		<p style="font-family: 'Raleway-Light', sans-serif; font-size: 20px">
			Define a widget to be an object on a device that permits the user of the device to change its state in some way, such as the ubiquitous five way rocker switch onclassic feature phones or a knob.
		</P>
		<h2 class="analytics"style="text-align:center">SKETCHES</h2>
			<div class="flexslider">
    			<ul class="slides">
    		  		<li class="project-image1"><%= image_tag('sketches/wr01.jpg') %></li>
    		  		<li class="project-image2"><%= image_tag('sketches/wr02.jpg') %></li>
		      		<li class="project-image3"><%= image_tag('sketches/wr03.jpg') %></li>
		      		<li class="project-image2"><%= image_tag('sketches/wr04.jpg') %></li>
    			</ul>
  			</div><br><br>
  	</div>	