<div class="container" style="margin-top: 25px">
	<h3 class="project-name-label">Project Name : </h3>
	<h3 class="project-name">Where's My Tee?</h3><br><br>
	<h3 class="project-site-label">Site : </h3>
	<h3 class="project-site"><%= link_to 'www.wheresmytee.com', 'http://www.wheresmytee.com/', target: '_blank' %></h3><br><br>
	<h3 class="project-site-label">GitHub : </h3>
	<h3 class="project-site"><%= link_to 'http://bit.ly/2E51ClI', 'http://bit.ly/2E51ClI/', target: '_blank' %></h3>
	<h3 class="project-description-label">Description : </h3>	
	<p class="project-description">
		Where's My Tee? started out as a very basic platform that served as a craigslist type website that only connected small online businesses with potential consumers. The idea essentially began as a combination of pinterest, twitter and craigslist. When I built the first iteration of the platform, I targeted businesses in many consumer sectors including jewelry, accessories, clothing and household items to name a few. Soon, the site morphed into a platform that only showcased T-Shirts because I wanted the marketing to be targeted to a specific demographic. Today, Where's My Tee? has varied forms of audience engagement and can be used as a site to follow T-Shirt brands, save T-Shirts to a personal catalog and share T-Shirt designs on social platforms.
	</p>
	<h3 style="text-align:center; font-family: 'Raleway-Regualr', sans-serif; font-size: 25px">Vision of the Platform:</h3><br><br>
		<div class = "container">
			<div class="col-md-3 col-sm-12">
				<div class = "vision-circle-1"><p>Make T-Shirt Search Extremely Simple</p></div>
			</div>
			<div class="col-md-3 col-xs-12">
				<div class = "vision-circle-2"><p>Build a Community</p></div>
			</div>
			<div class="col-md-3 col-xs-12">
				<div class = "vision-circle-3"><p>Create Brand Awareness</p></div>
			</div>
			<div class="col-md-3 col-xs-12">
				<div class = "vision-circle-4"><p>Convert Engagement to Sales</p></div>
			</div>
		</div>
	<h3 class="project-evolution-label">First and Final Iteration : </h3>
	<div class="row">
		<div class= 'wmt-iteration-1 col-md-6 col-xs-12'>
			<%= image_tag('wmt/iteration-1.png') %>
		</div>
		<div class= 'wmt-iteration-2 col-md-6 col-xs-12'>
			<%= image_tag('wmt/iteration-2.png') %>
		</div>
	</div>
	<h3 class="project-role-label">My Roles : </h3>
	
		<p class="role">Developed the entire platform without a tech team</p>
		<p class="role">Worked on the wireframes as well as the final design</p>
		<p class="role">Built and tested multiple iterations of the platform</p>
		<p class="role">Marketed the platform using organic and paid strategies on Facebook and Instagram</p>
		<p class="role">Initiated SEO strategies including backlinking and keyword optimization for better search results</p>
		<p class="role">Analysed the data using Google Analytics and Search Console and initiated subsequent strategies to increase platform engagement</p><br><br>
	
	<h3 class="project-role-label">Site Features : </h3>

		<p class="role">User and Seller Authentication system</p>
		<p class="role">Option for sellers to upload T-Shirt designs and input basic features for each product</p>
		<p class="role">Option for users to follow/ unfollow Sellers </p>
		<p class="role">Option for users to save T-Shirts to personal catalog</p>
		<p class="role">Option for users to share T-Shirt designs on Facebook, Twitter, Pinterest and Google+</p><br><br>
	<h2 class="wireframe-title">DESIGN ON ANDROID : </h2>
  		<div class="prototype">
			<%= image_tag('wmt/prototype.png') %>
  		</div>
	<h2 class="analytics">MARKETING AND GROWTH</h2><br>
	<p>One of the biggest challenges with marketing this platform was that we wanted to improve metrics that were specific to audience engagement such as page views, the average time on the best performing pages and the bounce rate. Studying each of these metrics helped us understand the audience's reaction to the design as well as the functionality of the site.</p>
	<h3 class="wireframe-title">Facebook Advertising - WEB v MOBILE</h3>
		
		<div class="flexslider">
    		<ul class="slides">
    		  <li class="project-image1"><%= image_tag('wmt/facebook-data.png') %>
    		  	<p class="flex-caption">The results of a Facebook ad campaign based on gaming tees and targeted to gamers</p>
    		  </li>
    		  <li class="project-image2"><%= image_tag('wmt/google-data-1.png') %>
    		  	<p class="flex-caption">The analytics show a high bounce rate which meant consumers were leaving the site after being redicted from a web based facebook ad.</p>
    		  </li>
		      <li class="project-image3"><%= image_tag('wmt/google-data-2.png') %>
		      	<p class="flex-caption">The bounce rates were much lower as traffic was redirected from Facebook mobile to the mobile version of the site which showed greater engagement</p>
		      </li>
    		</ul>
  		</div>
  
  		<div class="container">
  		<h3 class="wireframe-title">TRAFFIC CHANNELS</h3>
		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
				<h3>Direct Traffic</h3>
				<div class="circular-infograph">
  					<svg version="1.1" class="svgdonut" viewBox="0 0 250 250" preserveAspectRatio="xMinYMin meet">
    					<defs>
      						<linearGradient id="quotaDonut__gradient">
        						<stop stop-color="#2ecc71" offset="0%"></stop>
        						<stop stop-color="#27ae60" class="quotaDonut__gradientStopEnd" offset="100%"></stop>
      						</linearGradient>
    					</defs>
						<g transform="translate(115, 115)">
      						<circle r="70" class="circle-back" />
      						<circle r="70" class="circle-front-1" transform="rotate(270.1)" />
    					</g>
						<g class="textpercentage">
      						<text x="39%" y="50%" class="greentext">871</text>
    					</g>
  					</svg>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
				<h3>Social Traffic</h3>
				<div class="circular-infograph">
  					<svg version="1.1" class="svgdonut" viewBox="0 0 250 250" preserveAspectRatio="xMinYMin meet">
    					<defs>
      						<linearGradient id="quotaDonut__gradient">
        						<stop stop-color="#2ecc71" offset="0%"></stop>
        						<stop stop-color="#27ae60" class="quotaDonut__gradientStopEnd" offset="100%"></stop>
      						</linearGradient>
    					</defs>
						<g transform="translate(115, 115)">
      						<circle r="70" class="circle-back" />
      						<circle r="70" class="circle-front-2" transform="rotate(270.1)" />
    					</g>
						<g class="textpercentage">
      						<text x="39%" y="50%" class="greentext">504</text>
    					</g>
  					</svg>
				</div>
			</div>
		<div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
			<h3>Organic Traffic</h3>
				<div class="circular-infograph">
  					<svg version="1.1" class="svgdonut" viewBox="0 0 250 250" preserveAspectRatio="xMinYMin meet">
    					<defs>
      						<linearGradient id="quotaDonut__gradient">
        						<stop stop-color="#2ecc71" offset="0%"></stop>
        						<stop stop-color="#27ae60" class="quotaDonut__gradientStopEnd" offset="100%"></stop>
      						</linearGradient>
    					</defs>
						<g transform="translate(115, 115)">
      						<circle r="70" class="circle-back" />
      						<circle r="70" class="circle-front-3" transform="rotate(270.1)" />
    					</g>
						<g class="textpercentage">
      						<text x="39%" y="50%" class="greentext">249</text>
    					</g>
  					</svg>
				</div>
			</div>
		<div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
			<h3>Referral Traffic</h3>
				<div class="circular-infograph">
  					<svg version="1.1" class="svgdonut" viewBox="0 0 250 250" preserveAspectRatio="xMinYMin meet">
    					<defs>
      						<linearGradient id="quotaDonut__gradient">
        						<stop stop-color="#2ecc71" offset="0%"></stop>
        						<stop stop-color="#27ae60" class="quotaDonut__gradientStopEnd" offset="100%"></stop>
      						</linearGradient>
    					</defs>
						<g transform="translate(115, 115)">
      						<circle r="70" class="circle-back" />
      						<circle r="70" class="circle-front-4" transform="rotate(270.1)" />
    					</g>
						<g class="textpercentage">
      						<text x="39%" y="50%" class="greentext">137</text>
    					</g>
  					</svg>
				</div>
			</div>
	</div>
</div>

	<!--
	<div class="analytics-image">
		<%= image_tag('wmt/analytics-complete.png') %>
	</div>
	<p class="analytics-description">
		The traffic that was generated was a combination of social media marketing, SEO and word of mouth. Building consistency in terms of traffic was a challenging task since we only wanted to work with brands that sold specific designs targeted to specific users.
	</p>

	<h4 class="analytics">The most Successful Social Engagement Metrics in the Platform's history</h4>
	<div class="analytics-image">
		<%= image_tag('wmt/analytics-complete.png') %>
	</div>
	<p class="analytics-description">
		There were a number of social media campaigns
	</p>
	-->

</div>

