<div class="container" style="margin-top: 25px">
	<h3 class="project-name-label">Project Name : </h3>
	<h3 class="project-name">Where's My Tee?</h3><br><br>
	<h3 class="project-site-label">Site : </h3>
	<h3 class="project-site"><%= link_to 'www.wheresmytee.com', 'http://www.wheresmytee.com/', target: '_blank' %></h3><br><br>
	<h3 class="project-site-label">GitHub : </h3>
	<h3 class="project-site"><%= link_to 'http://bit.ly/2E51ClI', 'http://bit.ly/2E51ClI/', target: '_blank' %></h3>
	<h3 class="project-description-label">Description : </h3>	
	<p class="project-description">
		Where's My Tee? started out as a very basic platform that served as a craigslist type website that only connected small online businesses with potential consumers. The idea essentially began as a combination of pinterest, twitter and craigslist. When I built the first iteration of the platform, I targeted businesses in many consumer sectors including jewelry, accessories, clothing and household items to name a few. Soon, the site morphed into a platform that only showcased T-Shirts because I wanted the marketing to be targeted to a specific demographic. Today, Where's My Tee? has varied forms of audience engagement and can be used as a site to follow T-Shirt brands, save T-Shirts to a personal catalog and share T-Shirt designs on social platforms.
	</p>
	<h3 class="project-evolution-label">First and Final Iteration : </h3>
	<div class="row">
		<div class= 'wmt-iteration-1 col-md-6 col-xs-12'>
			<%= image_tag('wmt/iteration-1.png') %>
		</div>
		<div class= 'wmt-iteration-2 col-md-6 col-xs-12'>
			<%= image_tag('wmt/iteration-2.png') %>
		</div>
	</div>
	<h3 class="project-role-label">My Roles : </h3>
	
		<p class="role">Handled the entire development using Rails 4 as the framework with Ruby</p>
		<p class="role">Designed the front-end as well as the design</p>
		<p class="role">Built and tested multiple iterations of the platform</p>
		<p class="role">Marketed the platform using organic and paid strategies on Facebook and Instagram</p>
		<p class="role">Initiated SEO strategies including backlinking and keyword optimization for better search results</p>
		<p class="role">Analysed the data using Google Analytics and Search Console and initiated subsequent strategies to increase platform engagement</p><br><br>
	
	<h3 class="project-role-label">Site Features : </h3>

		<p class="role">User and Seller Authentication system</p>
		<p class="role">Option for sellers to upload T-Shirt designs and input basic features for each product</p>
		<p class="role">Option for users to follow/ unfollow Sellers </p>
		<p class="role">Option for users to save T-Shirts to personal catalog</p>
		<p class="role">Option for users to share T-Shirt designs on Facebook, Twitter, Pinterest and Google+</p><br><br>
	<h3 class="product-history-label">PRODUCT HISTORY</h3>

	<h4 class="analytics">All Analytics</h4>
	<div class="analytics-image">
		<%= image_tag('wmt/analytics-complete.png') %>
	</div>
	<p class="analytics-description">
		The analytics for this platform were a combination of social media marketing, SEO and word of mouth. Building consistency in terms of traffic was a challenging task since we only wanted to work with brands that sold specific designs targeted to specific users.
	</p>

	<h4 class="analytics">The most Successful Social Engagement Metrics in the Platform's history</h4>
	<div class="analytics-image">
		<%= image_tag('wmt/analytics-complete.png') %>
	</div>
	<p class="analytics-description">
		There were a number of social media campaigns
	</p>

	<h2 class="wireframe-title">LoFi Prototypes to Final Version : </h2>
  		<div class="flexslider">
    		<ul class="slides">
		      <li class="project-image1"><%= image_tag('wmt/wireframe-1.png') %></li>
		      <li class="project-image2"><%= image_tag('wmt/wireframe-1a.png') %></li>
		      <li class="project-image3"><%= image_tag('wmt/wireframe-2.png') %></li>
		      <li class="project-image4"><%= image_tag('wmt/wireframe-2a.png') %></li>
    		</ul>
  		</div>
</div>

